@font-face
  font-family: 'GothaProReg'
  src: url(../fonts/GothaProReg.otf)
  font-style: normal
  font-weight: normal
@font-face
  font-family: 'GothaProLig'
  src: url(../fonts/GothaProLig.otf)
  font-style: normal
  font-weight: lighter
@font-face
  font-family: 'GothaProBol'
  src: url(../fonts/GothaProBol.otf)
  font-style: normal
  font-weight: bold
@font-face
  font-family: 'GothaProMed'
  src: url(../fonts/GothaProMed.otf)
  font-style: normal
  font-weight: medium

$green: #4fff9e
$blue: #5591ff
$font-reg: 'GothaProReg'
$font-light: 'GothaProLig'
$font-bold: 'GothaProBol'

html
  box-sizing: border-box
body
  width: 100%
  margin: 0 0 0 0
  font-family: $font-light,sans-serif
  box-sizing: border-box

h4,h5,h6,h1,h2,h3,ul,p
  margin: 0
