@charset "UTF-8";
@font-face {
  font-family: "GothaProReg";
  src: url(../fonts/GothaProReg.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothaProLig";
  src: url(../fonts/GothaProLig.otf);
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "GothaProBol";
  src: url(../fonts/GothaProBol.otf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "GothaProMed";
  src: url(../fonts/GothaProMed.otf);
  font-style: normal;
  font-weight: medium;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 0 0 0;
  font-family: "GothaProLig", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h4, h5, h6, h1, h2, h3, ul, p {
  margin: 0;
}

/* верхняя часть с книгой */
.top-wrap {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  min-height: 900px;
}

.logo {
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 138px;
  height: 45px;
}

.phone {
  background-image: url(../img/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.number {
  vertical-align: middle;
}
.number a {
  vertical-align: middle;
  line-height: 28px;
  text-decoration: none;
  color: #000;
  font-family: "GothaProReg", sans-serif;
}
.number a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-book {
  padding-left: 0px;
  margin-left: -140px;
}

.top-book-wrap {
  margin-top: 150px;
}
.top-book-wrap h1 {
  font-size: 60px;
  font-family: "GothaProBol", sans-serif;
}

.top-book-text {
  margin-left: 120px;
  margin-top: 50px;
}
.top-book-text h1 {
  line-height: 70px;
  font-size: 60px;
  font-family: "GothaProBol", sans-serif;
}

/*кнопка */
.get-book a {
  display: block;
  width: 323px;
  height: 75px;
  margin-top: 75px;
  background-image: url(../img/button.png);
  background-repeat: no-repeat;
  background-size: 323px 75px;
}
.get-book a:hover {
  background-image: url(../img/button_hover.png);
  background-repeat: no-repeat;
  background-size: 323px 75px;
}

.top-safety {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
}
.top-safety p {
  color: #bbbbbb;
  line-height: 16px;
  font-size: 11px;
  font-family: "GothaProLig", sans-serif;
}
.top-safety a {
  color: #bbbbbb;
}

.lock {
  background-image: url(../img/lock.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 21px;
  height: 27px;
}

/*средняя часть с круглыми иконками до формы */
.description-wrap h2 {
  font-size: 48px;
  font-family: "GothaProMed", sans-serif;
}

.text-wrap {
  margin-top: 100px;
  margin-bottom: 90px;
}

.advantages-wrap {
  text-align: center;
}
.advantages-wrap p {
  padding-top: 30px;
  font-size: 21px;
  font-family: "GothaProReg", sans-serif;
}
.advantages-wrap img {
  display: block;
  margin: 0 auto;
}

/* книга и форма */
.registration-wrap {
  margin-top: 140px;
}

.reg-book {
  margin-left: -20px;
  margin-top: 130px;
}

.form-wrap {
  margin-left: -100px;
  width: 500px;
}

.reg-text {
  text-align: center;
  font-size: 30px;
}
.reg-text h2 {
  font-family: "GothaProReg", sans-serif;
  padding-bottom: 10px;
}
.reg-text span {
  font-family: "GothaProMed", sans-serif;
}

/*платежки */
.payments-wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}
.payments-wrap img {
  display: block;
  margin: 0 auto;
}

.first-line {
  padding-bottom: 35px;
}

.london, .dowjones, .nasdaq {
  -ms-flex-item-align: center;
      align-self: center;
}

/*футер */
.footer-wrap {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  color: #bbbbbb;
  text-align: center;
  font-size: 16px;
  font-family: "GothaProReg", sans-serif, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}
.links-wrap {
  padding-top: 60px;
  padding-bottom: 30px;
}
.links a {
  color: #b28a47;
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}

.age-18 {
  background-image: url(../img/18.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  -ms-flex-item-align: center;
      align-self: center;
}

.clean-100 {
  background-image: url(../img/clean.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.ssl {
  background-image: url(../img/ssl.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 56px;
  height: 47px;
}

.bottom-text-wrap {
  color: #bbbbbb;
  text-align: center;
  font-size: 14px;
  line-height: 2em;
  padding-top: 30px;
}

.copyright {
  padding-top: 40px;
  padding-bottom: 30px;
}

/*амедиа */
@media (max-width: 1200px) {
  .reg-book {
    margin-top: 0px;
    margin-left: -50px;
  }
  .reg-book img {
    width: 90%;
  }

  .form-wrap {
    margin-left: 0px;
  }

  .diners, .borse {
    margin-top: 20px;
  }

  .clean-100 {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 991px) {
  .top-book-wrap {
    margin-top: 80px;
  }

  .top-book {
    margin: 0 auto;
  }

  .top-book-text {
    margin-left: auto;
    margin-right: auto;
  }

  .top-safety {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }

  .get-book {
    padding-top: 20px;
  }
  .get-book a {
    margin: 0 auto;
  }

  .form-wrap {
    margin: 0 auto;
  }

  .perspective, .gathering {
    margin-top: 40px;
  }

  .webmoney, .qiwi, .swift, .diners, .borse {
    margin-top: 20px;
  }

  .diners img {
    margin-left: auto;
    margin-right: none;
  }

  .borse img {
    margin-right: auto;
    margin-left: none;
  }

  .reg-book {
    display: none;
  }
}
@media (max-width: 767px) {
  .top-book {
    margin-left: -130px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 36px !important;
    line-height: 1.1em !important;
  }

  h2 {
    font-size: 32px !important;
  }

  .logo {
    margin-left: 10px;
  }

  .number {
    padding-right: 10px;
  }

  .blockchain {
    margin-top: 40px;
  }

  .description-wrap h2 {
    text-align: center;
  }

  .top-book img {
    width: 80%;
    margin-left: 20%;
  }

  .get-book a {
    background-size: contain;
    width: 280px;
  }
}
@media (max-width: 351px) {
  .logo {
    margin: 0 auto;
  }

  .phone-wrap {
    padding-top: 10px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */